

body {
   background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: Arial, sans-serif;

    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: scroll; 

  }
  
  .header {
    width: 1100px;
    color: white;
    font-size: 20px; 
    margin: 20px;
    text-align: center;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  .box-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }


  canvas{
    width:100% !important;
    height:100% !important;
 }
 iframe{
  width:100% !important;
  height:100% !important;
}




.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; 
}

#startButton {
  padding: 20px 40px;
  border: none;
  background-image: linear-gradient(to right,black,grey,black);
  color: white; 
  font-weight: bold;
  font-size: 40px;
  border-radius: 30px; 
  border: 3px solid rgba(0, 0, 0, 0.8); 
  cursor: pointer; 
  outline: none; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease; 
}

#startButton:hover {
  background-image: linear-gradient(to right,orange,rgb(69, 159, 255)); 
}

.skecth-box{

width: 1200px;
height: 500px;
margin: 10;
padding: 0;
background-color: black;
}

button {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#s{
  color: rgb(255,192,108);
  font-family: 'Handlee', cursive;
}
#o{
  color: lightskyblue;
}