body{
    background-color: rgb(2, 12, 18);
    color: rgb(188, 202, 244);
    font-family: sans-serif;
    
}

h1{
    /* font-size: 100px; */
}

.big{
    font-size: 100px;
    font-family: monospace;
    font-weight: 100;
}

#red{
    color: coral;
}
#orange{
    color: orange;
}
#yellow{
    color: gold;
}


a{
    color: lightpink;
    font-size: 20px;
}
a:hover{
 color: deeppink;
 font-size: 30px;
}

#title{
    text-align: center;
}
#content{
    width: 50%;
    position: relative;
    left: 15%;
    padding: 50px;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
two-coloums:after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 70%
}
