

body {
  background-image: linear-gradient(to bottom, rgb(210, 165, 249),rgb(163,255,255),lightskyblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: scroll; 
}

.header {
  width: 1200px;
  height: 600px;
  color: white;
  font-size: 20px; 
  text-align: left;
  padding: 100px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

}

.box-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}



canvas{
  width:100% !important;
  height:100% !important;
}
iframe{
width:100% !important;
height:100% !important;
}

#s{
color: rgb(255, 185, 93);
text-shadow: 3px 2px 2px rgb(118, 67, 0);
}
#o{
color: rgb(113, 199, 252);
text-shadow: 3px 2px 2px rgb(12, 84, 165);
}

#n{
  text-shadow: 2px 2px 2px black;
}

button {
  background-image: linear-gradient(to bottom,rgb(210, 165, 249),lightskyblue,rgb(210,165,249));
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
