

body {

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: Arial, sans-serif;
    background-image: url('IMG_5605.JPG'); /* 确保这是正确的图片路径 */
    background-size: cover; /* 覆盖整个背景，保持图片宽高比 */
    background-repeat: no-repeat; /* 图片不重复 */
    background-position: center; /* 图片居中显示 */
    background-attachment: scroll; /* 背景图片随内容滚动 */

  }
  
  /* Header styling */
  .header {
    width: 1100px;
    background: rgba(255, 255, 255, 0.8); 
    font-size: 20px; 
    margin: 20px;
    text-align: center;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  /* Container for boxes */
  .box-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .text1{
    font-weight: bolder;
    font-size: 50px;
    -webkit-text-stroke: 2px whitesmoke;
    width: 900px;
    margin: 10px;
    text-align: center;
  
  }
  .text2{
    font-weight: bolder;
    font-size: 35px;
    -webkit-text-stroke: 1px black;
    width: 900px;
    margin: 10px;
    padding: 10px;
    text-align: left;
  }
  .text3{
    font-weight: bolder;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    text-align: left;
  }



  canvas{
    width:100% !important;
    height:100% !important;
 }
 iframe{
  width:100% !important;
  height:100% !important;
}




.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* Add space above the button */
}

#startButton {
  padding: 20px 40px;
  border: none;
  background-image: linear-gradient(to right, pink, blue);
  color: white; /* Text color */
  font-weight: bold;
  font-size: 40px;
  border-radius: 30px; /* Rounded corners */
  border: 3px solid rgba(0, 0, 0, 0.8); /* Darker border */
  cursor: pointer; /* Changes the mouse pointer on hover */
  outline: none; /* Removes the outline */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#startButton:hover {
  background-image: linear-gradient(to right, rgb(255, 129, 18), rgb(48, 211, 160)); /* Darker gradient on hover */
}

.skecth-box{

width: 600px;
height: 600px;
margin: 10;
padding: 0;
background-color: brown;

}