#title{
    text-align: center;
}
#content{
    width: 70%;
    position: relative;
    left: 17.5%;
    padding: 20px;
}
.left{
    float: left;
    width: 60%;
}
.right{
    float: left;
    width: 40%;
}
.two-coloumns:after{
    content: "";
    display: table;
    clear: both;
}
/* #p5-canvas{
    position: relative;
    right: 0px;
} */

canvas{
    width: 90% !important;
    height: 90% !important;
}

/* one-coloum:{
    content: "";
    display: table; */
    /* clear: both;   */
/* } */

/* img{
    width: 70%
} */
/* 
#p5-canvas{
    left: -100px;
} */

#blue{
    color: darkblue;
}

.big {
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 120;
}
/* #text{
    font-size: 100;
} */
#footer{
    text-align: center;
    font-size: 9px;
}