#title{
    text-align: center;
}
#content{
    width: 70%;
    position: relative;
    left: 10%;
    padding: 20px;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    /* right: 20%; */
    width: 50%;
}
two-coloums:after{
    content: "";
    display: table;
    clear: both;
}

one-coloum:{
    content: "";
    display: table;
    /* clear: both;   */
}

img{
    width: 70%
}
/* 
#p5-canvas{
    left: -100px;
} */